name: Build and Push To Docker Hub

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up QEMU for multi-platform builds
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        run: echo "${{ secrets.PASSWORD }}" | docker login -u "tdim" --password-stdin

      - name: Build and push Core Image
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 \
            -t tdim/devbox:latest \
            -t tdim/devbox:core \
            -f Dockerfile . \
            --push

      - name: Build and push NodeJS Image
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 \
            -t tdim/devbox:node \
            -f node.Dockerfile . \
            --push

      - name: Build and push PHP Image
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 \
            -t tdim/devbox:php \
            -f php.Dockerfile . \
            --push
